.wrapper {
  position: relative;
}
.input {
  padding: 18px 12px;
  border: 1px solid rgb(145, 137, 137);
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  &_check {
    position: absolute;
    color: green;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
  &_error {
    border: 1px solid rgb(255, 0, 0);
  }
  &_ok {
    border: 1px solid rgb(0, 255, 0);
  }
}
